.social {
    display: flex;
    flex-direction: row wrap;
    align-items: center;
    height: fit-content;
}
    .social-inline {
        justify-content: center;
        width: 100%;
    }
        .social_link {
            --bigup_green: #63CFA7;
            display: flex;
            justify-content: space-around;
            transition: 0.25s;
            margin:0.1em;
            border-radius: 100%;
            padding: 0.15em;
            height: 3em;
            max-height: 40px;
        }
        .social_link:hover {
            background: var(--bigup_green);
        }
            .social_icon {
                height: 100%;
            }